$primary: #1f4287 !default;
$secondary: #ff304f !default;

$btn_name: '.button';

$btn-bgcolor: #EEE !default;
$btn-font-color: #666 !default;
$btn-font-weight: 300 !default;
$btn-font-size: 1.2rem !default;
$btn-height: 2.2em !default;
$btn-font-family: Arial, "Noto Sans", sans-serif  !default;